/*external styling*/
/*
	CSS Rules: ;
	selector {
		property: value;
	}

*/

/*Type selector*/
h1	{
	color: lawngreen !important;
	text-align: center;
	font-size: 2rem;
}

/*Universal selector*/
*	{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID selector*/
#zuitt-motto {
	/*letter spacing property changes the spaces in between characters of a text*/
	letter-spacing: 5px;
}

/*class selector*/
.offering-item {
	text-transform: uppercase;
}

/*attribute selector*/
[required] {
	border-width: 2px;
	border-radius: 5px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

h3	{
	letter-spacing: 25px;
}

/*selector combinators*/
/*adjacent sibling selector*/
#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*child selector*/
body > section > ol > li {
	color: #0A6C54;
}

/*general sibling selector*/
h2 ~ a {
	text-decoration: none;
}

/*descendant selector*/
#register label {
	color: rgb(0, 0, 128);
}

body {
	background-color: gray;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

a:hover {
	background-color: #b4d6de;
}

div {
	display: inline-block;
	float: right;
}

#landing, #register {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

h2 + form {
	text-align: center;
	background-color: whitesmoke;
	position: relative;
	width: 25vw;
	height: 185px;
	border: 2px solid blue;
	border-radius: 10px;
	left: 37.5%;
}

button {
	background-color: skyblue;
	color: white;
	border: 0;
	border-radius: 20px;
}

button:hover {
	background-color: darkgreen;
	color: white;
	border: 0;
	border-radius: 20px;
}