body > section > #external_styling {
	color: yellow;
}

* {
	font-family: arial !important;
}

h1{
	font-size: 3rem;
}

#h-2 {
	text-transform: uppercase;
	font-size: 1rem;
}

.l_item {
	background-color: #b3cf99;
}

h3 {
	font-size: 17px;
}

[required] {
	border-style: solid;
	border-color: lightblue;
	border-width: 2px;
}

section img {
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

img + #mern {
	list-style-type: none;
}

section ~ footer {
	text-align: center;
}

section > #mern {
	letter-spacing: 10px;
}